*{
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
  height: auto;
  font-family: 'Rock Salt';
}

.header {
	height: 500px;
	width:100%;
  background-color: black;
	position: relative;
  &_vid {
    position: absolute;
    top: 0;
    & video {
      height: 100%;
      width: 118.69%;
    }
  }
    &_navbar {
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &-logo-title {
            font-size: 29px;
            font-weight: bold;
            a {
              text-decoration: none;
              color: #0fb9b1;
              &:hover {
                color: #A3CB38;
              }
            }
          }
      &-menu-link {
          margin-left: 25px;
          text-decoration: none;
          color:white;
          font-size: 15px;
          font-weight: bold;
          z-index: 15;
          padding: 10px;
          border: 3px solid #A3CB38;
          background-color: #C4E538;
          border-radius: 100%;
        }
        &-menu-link:hover {
          background-color: #0fb9b1;
          cursor: pointer;
        }
      }
    }

.container {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 25;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/assets/premier1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.newPic1 {
  background-image: url(/assets/premier1.png);
  transition: background-image 0.2s ease-in-out;
}

.newPic2 {
  background-image: url(/assets/premier2.png);
  transition: background-image 0.2s ease-in-out;
}

.newPic3 {
  background-image: url(/assets/premier3.png);
  transition: background-image 0.2s ease-in-out;
}

.newPic4 {
  background-image: url(/assets/premier4.png);
  transition: background-image 0.2s ease-in-out;
}

.saison1_2 {
  padding-top: 30px;
}

.titre_S1_S2_S3_S4 {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#titre1 {
  margin-left: 7px;
  padding: 8px;
  border: 1px solid;
  border-radius: 15px;
  font-family:'Rock Salt';
  font-size: 16px;
  color: white;
  &:hover {
      background-color:#C4E538;
      color: #0fb9b1;
      }
}

#titre2 {
  margin-left: 7px;
  padding: 8px;
  border: 1px solid;
  border-radius: 15px;
  font-family:'Rock Salt';
  font-size: 16px;
  color: white;
  &:hover {
    background-color:#C4E538;
    color: #0fb9b1;
    }
}

#titre3 {
  margin-left: 7px;
  padding: 8px;
  border: 1px solid;
  border-radius: 15px;
  font-family:'Rock Salt';
  font-size: 16px;
  color: white;
  &:hover {
    background-color:#C4E538;
    color: #0fb9b1;
    }
}

#titre4 {
  margin-left: 7px;
  padding: 8px;
  border: 1px solid;
  border-radius: 15px;
  font-family:'Rock Salt';
  font-size: 16px;
  color: white;
  &:hover {
    background-color:#C4E538;
    color: #0fb9b1;
    }
}

.liste {
  width: 60%;
  height: 700px;
}

.listeEpS1 {
  color: white;;
  margin: 7px;
  padding: 0;
  #lEp {
    width: 100%;
    font-family: 'Rock Salt';
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    letter-spacing: 4px;
    color: white;
    &:hover {
      background-color: #C4E538;
      transition: background-color 0.1s;
      color: #0fb9b1;
    }
  }
}

.listeEpS2 {
  color: white;
  margin: 7px;
  padding: 0;
  display: none;
  #lEp {
    width: 100%;
    font-family: 'Rock Salt';
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    letter-spacing: 4px;
    &:hover {
      background-color:#C4E538;
      transition: background-color 0.1s;
      color: #0fb9b1;
      }
    }
}

.listeEpS3 {
  color: white;;
  margin: 7px;
  padding: 0;
  display: none;
  #lEp {
    width: 100%;
    font-family: 'Rock Salt';
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    letter-spacing: 4px;
    color: white;
    &:hover {
      background-color: #C4E538;
      transition: background-color 0.1s;
      color: #0fb9b1;
    }
  }
}

.listeEpS4 {
  color: white;;
  margin: 7px;
  padding: 0;
  display: none;
  #lEp {
    width: 100%;
    font-family: 'Rock Salt';
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    letter-spacing: 4px;
    color: white;
    &:hover {
      background-color: #C4E538;
      transition: background-color 0.1s;
      color: #0fb9b1;
    }
  }
}

#souslEp {
  display: none;
  background-color: #C4E538;
  color: #0fb9b1;
  height: 100px;
  overflow-y: scroll;
}

.sousListe {
  margin-left: 10px;
  p {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 4px;
  padding: 0 5px 0 5px;
  margin-top: 1px;
  }
}

.vert {
  background-color: #C4E538;
}