header {
    width: 100%;
    height: 350px;
    padding-bottom: 5px;
}

#banner-m {
    width: 99.8%;
    height: 350px;
    background-size: cover;
    background-image: url("../assets/acceuil_header.png");   
    background-position: center; 
    filter: contrast(115%);
    border: 5.5px #ff00cc solid;
    border-right: 7px #ff00cc solid;

}

.header-menu-m {
    display: flex;
    justify-content: center;
    margin-left: 33%;
    position: absolute;
}

.header-menu-m a {
    display: flex;
    margin-bottom: 1em;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-left: 30px; 
}

.header-menu-m i {
    color: #ff00cc;
    margin-right: 5px;
}

.header-link-m:hover {
    border: 3px solid goldenrod;
    background-color: violet;
    border-radius: 100%;
    color: black;
}

body {
    font-family: "Rock Salt";
    font-weight: bold;  
}

.container-m {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-position: 0rem 15.5rem;
    background-image: url("../assets/image.gif");
    font: message-box;
    border-left: 5px #ff00cc solid;
    border-right: 4px #ff00cc solid;
    border-top: 7px #ff00cc solid;
    border-bottom: 7px #ff00cc solid;
    padding-top: 110px;
    overflow-y: auto;
    height: 1120px;
}

.container-location-m {
    cursor: pointer;
    margin-top: -25px;
    margin-left: 400px;    
}

.bloc-li-m {
    color: red;
    font-size: x-large;
    display: inline-block; 
    padding-left: 1.25%;
    text-align: center;
}

.container-location-m span{
    font-weight: bold;
    color: #ff00cc;
    font-size: 17px;
}

.hide-m {
    display: none;
}

.show-m {
    display: block;
}

